<div class="col col-6 mx-auto mt-4 text-dark">

      <h2>Editer l'annonce</h2>

      <!-- Zone du formulaire -->
      <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

      <b> <%= label_tag 'Titre' %></b>
      <%= text_field_tag 'title', @ad.title, class: "form-control" %>
      <br />

      <b><%= label_tag 'Description' %></b>
      <%= text_field_tag 'description', @ad.description, class: "form-control"  %>
      <br />

            <b><%= label_tag 'Type d\'activité' %></b>
      <b><%= select_tag 'type',options_for_select(["coup de main", "cours", "projet"]), class: "form-control" %></b>
      <br/> 

                  <b><%= label_tag 'Catégorie' %></b>
      <b><%= select_tag 'category',options_for_select(["Bricolage", "Cuisine", "Artisanat",  "Musique", "Art", "Jeux", "Technologie", "Mécanique", "Sport", "Jardinage", "Ecriture", "Langues"]), class: "form-control" %></b>
      <br/> 


      <b><%= label_tag 'Durée' %></b>
      <b><%= select_tag 'duration',options_for_select(["1h", "2h", "3h", "3h-5h", "encore plus"]), class: "form-control" %></b>
      <br/> 

      <b><%= label_tag 'Fréquence' %></b>
      <b><%= select_tag 'frequency',options_for_select(["quotidien", "tout les deux jours", "hebdomadaire", "mensuel"]), class: "form-control" %></b>
      <br />

      <p> <b>Êtes vous ouvert à d'autres modalités d'échange ?</b> </p>


      <%= radio_button_tag(:other_propositions, "true") %>
      <%= label_tag(:other_propositions_yes, "Yes") %> <br>
      <%= radio_button_tag(:other_propositions, "false") %>
      <%= label_tag(:other_propositions_no, "No") %>

    <p>  <b><%= label_tag 'Disponibilités' %></b>
      <b><%= select_tag 'availability',options_for_select(["le matin", "le midi", "le soir", "n'importe quand", "seulement le week-end"]), class: "form-control" %></b> </p>
      <br />

      <%= submit_tag "Edit", class: "btn btn-primary mb-3" %>

      <% end %>
</div>