<section>
    <div class="container">
        <div class="row">
            <div class="col col-6 mx-auto mt-4 text-dark">


                <h2>Éditer votre annonce</h2>
                
                <!-- Errors partial -->
                <%= render 'ads/error_messages' %>

                <!-- Zone du formulaire -->
                <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

                <%= label_tag 'Son titre :', nil, class: "font-weight-bold" %>
                <%= text_field_tag 'title', @ad.title, class: "form-control" %>

                <%= label_tag 'Sa description :', nil, class: "font-weight-bold mt-3" %>
                <%= text_field_tag 'description', @ad.description, class: "form-control"  %>

                <%= label_tag 'Son type d\'activité :', nil, class: "font-weight-bold mt-3" %>
                <%= select_tag 'type',options_for_select(["Coup de main", "Cours", "Projet"]), class: "form-control" %>

                <%= label_tag 'Sa catégorie :', nil, class: "font-weight-bold mt-3" %>
                <%= select_tag 'category',options_for_select(["Cuisine", "Artisanat",  "Musique", "Art", "Jeux", "Technologie", "Mécanique", "Sport", "Jardinage", "Écriture", "Langues"]), class: "form-control" %>

                <%= label_tag 'Sa durée :', nil, class: "font-weight-bold mt-3" %>
                <%= select_tag 'duration',options_for_select(["1h", "2h", "3h", "3h-5h", "encore plus"]), class: "form-control" %>

                <%= label_tag 'Sa fréquence :', nil, class: "font-weight-bold mt-3" %>
                <%= select_tag 'frequency',options_for_select(["une seule fois", "quotidien", "tout les deux jours", "hebdomadaire", "mensuel"]), class: "form-control" %>

                <p class=" font-weight-bold mt-3 mb-0"> Êtes vous ouvert à d'autres modalités d'échange ? : </p>

                <p class="mt-1 mb-0">
                   <p><%= radio_button_tag(:other_propositions, "true") %>
                    <%= label_tag(:other_propositions_yes, "Oui", class: 'mb-0') %></p>
                    <%= radio_button_tag(:other_propositions, "false") %>
                    <%= label_tag(:other_propositions_no, "Non", class: 'mb-0') %>
                </p>

                <%= label_tag 'Vos disponibilités :', nil, class: "font-weight-bold mt-1"  %>
                <%= select_tag 'availability',options_for_select(["le matin", "le midi", "le soir", "n'importe quand", "seulement le week-end"]), class: "form-control mb-3" %>

                <%= submit_tag "Éditer l'annonce", class: "btn btn-primary mt-2 mb-1" %> 

                <% end %>

            </div>
        </div>
    </div>
</section>