<!-- JUMBOTRON -->
<div class="jumbotron">
	<div class="container mt-3">
		<div class="row">
			<div class="col">
				<h1 class="display-4 text-center">Trouve ce qu'il te plaît</h1>
				<p class="lead text-center">Des milliers d'annonces </p>
				<hr class="my-3">
				<p>Faire des rencontres utiles !</p>
				<%= link_to "Créer une annonce",new_ad_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

<!-- the list of the ads -->

<section>
	<div class="container">
		<div class="row mb-5">
			<ul class="nav mb-3" data-isotope-filters="" data-isotope-id="types">
				<li class="nav-item">
					<a class="nav-link .js-filter-initied" href="#" data-filter="*">Tout les types d'annonces</a>
				</li>
				<li class="nav-item">
					<a class="nav-link .js-filter-initied active" href="#" data-filter="<%= Type.find_by(name: "Coup de main").name %>"><%= Type.find_by(name: "Coup de main").name %></a>
				</li>
				<li class="nav-item">
					<a class="nav-link .js-filter-initied active" href="#" data-filter="<%= Type.find_by(name: "Cours").name%>"><%=Type.find_by(name: "Cours").name %></a>
				</li>
				<li class="nav-item">
					<a class="nav-link .js-filter-initied active" href="#" data-filter="<%=Type.find_by(name: "Projet").name%>"><%=Type.find_by(name: "Projet").name%></a>
				</li>
			</ul>	
		</div>
		<div class="categories">	
		<p class="all_categories">Toutes les catégories d'annonces </p>

		<% @categories.each do |category| %>
		
		<li class="nav-item adcategory">
			<%= category.name %>
		</li>
			<% end %>
	</div>

		<div class="row " data-isotope-collection="" data-isotope-id="types">
			<div class="container">
				<% @ad.each do |ad| %>
				<% if ad.validated == true %>
				<div class="row">
					<div class="col-sm-4" data-isotope-item="" data-category="<%= ad.type.name %>">
						<div class="card shadow ">
							<h5 class="card-header"><%= ad.category.name%></h5>
							<div class="card-body test">
								<p class="card-text"><%= ad.description %>
								</p>
								<%= link_to "Voir l'annonce", ad_path(ad), class: "btn btn-primary btn-sm" %>
							</div>
						</div>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>

