<section class="mt-2">
	<div class="container">
		<div class="row">
			<div class="col">
				<%= link_to "Retour aux annonces", ads_path, class: "btn btn-primary btn-sm" %> 
				<nav aria-label="breadcrumb" class="mt-3">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><%=@ad.type.name%></a></li>
						<li class="breadcrumb-item active" aria-current="page"><%=@ad.category.name%></li>
					</ol>
				</nav>
				<h2 class="mt-2"><%= @ad.title%></h2>
				<ul class="list-group list-group-flush mb-3 mt-3">
					<li class="list-group-item"><%= @ad.description %></li>
					<li class="list-group-item">Durée de l'activité : <%= @ad.duration %></li>
					<li class="list-group-item">Fréquence : <%= @ad.frequency %></li>
					<% if @ad.other_propositions == true %>
					<li class="list-group-item">Cet utilisateur accepte d'autres propositions d'échange</li>
					<% else %>
					<li class="list-group-item">Cet utilisateur n'accepte pas d'autres propositions d'échange</li>
					<% end %>
					<li class="list-group-item">Disponibilités : <%= @ad.availability %></li>	
					<%= link_to "Contacter l'utilisateur", new_personal_message_path(recipient_id: @ad.user.id), class: "btn btn-primary btn-sm mt-3" %>
				</ul>
			</div>
		</div>
	</div>
</section>