<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Bonne nouvelle,</h1>
<p>Votre annonce <%=@ad.title%> vient d'être publiée. </p>
<p>Vous pouvez la consulter sur : <a href="<%=@url%>"><%=@url%></a>.</p>
<p>A très bientôt sur :<a href="<%=@home%>"><%=@home%></a>.</p>
</body>
</html>