<section>
    <div class="container">
        <div class="row">   
            <%= render 'dashboard' %>
            <!-- Main content -->
            <div class="col-sm-12 col-md-9">
                <div class="container">
                    <!-- Ad review -->
                    <div class="row">
                        <div class="col">
                            <h4 class="p-2 bg-primary-alt"><i class="far fa-eye text-primary"></i> Validation de l'annonce</h4>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col">
                            <h5><%= @ad.title%></h5>
                        </div>
                    </div>
                    <div class="row px-2">
                        <div class="col">
                            <ul class="list-group list-group-flush border-bottom">
                                <li class="list-group-item"><b>Description : </b><%= @ad.description %></li>
                                <li class="list-group-item"><b>Durée : </b><%= @ad.duration %></li>
                                <li class="list-group-item"><b>Fréquence : </b><%= @ad.frequency %></li>
                                <% if @ad.other_propositions == true %>
                                <li class="list-group-item">Cet utilisateur accepte d'autres propositions d'échange</li>
                                <% else %>
                                <li class="list-group-item">Cet utilisateur n'accepte pas d'autres propositions d'échange</li>
                                <% end %>
                                <li class="list-group-item"><b>Disponibilités : </b><%= @ad.availability %></li>
                                <% if @ad != nil %>
                                <li class="list-group-item"><b>Utilisateur : </b><%= @ad.user.email %></li>
                                <li class="list-group-item"><b>Créée : </b>
                                    <% if  @ad.created_at.localtime.strftime("%d/%m/%y") == Time.now.strftime("%d/%m/%y") %>
                                            Aujourd'hui à <%=@ad.created_at.localtime.strftime("%H:%M")%>
                                            
                                        <% elsif @ad.created_at.strftime("%d/%m/%y") == Time.now.yesterday.strftime("%d/%m/%y") %>
                                            Hier à <%=@ad.created_at.localtime.strftime("%H:%M")%>
                                            
                                        <% else %>                  
                                            <%= @ad.created_at.localtime.strftime("%d/%m/%y") %> à <%=@ad.created_at.localtime.strftime("%H:%M")%>
                                            
                                        <% end %></li>






                                <% end %>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Validation / suppression du formulaire -->
                    <div class="row px-2 mt-3">
                        <div class="col">
                            <%= link_to "Valider", admin_path(validated: true), method: "patch", class: "btn btn-primary" %>
                        </div>
                    </div>
                      <hr>
                    <div class="row px-2 mt-3">    
                        <div class="col">
                            <%= form_tag(admin_path, method: "delete") %>
                            <%= text_area_tag 'comment', nil, class: "col", placeholder: "Explique les raisons de la suppression de l'annonce" %> <br>
                            <%= submit_tag 'Supprimer', class: "btn btn-danger mt-2", :data => {:confirm => "Êtes-vous sûr ?"} %>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>