<section>
	<div class="container">
		<div class="col col-8 offset-md-2">
			<div class="row">
				<div class="col">
					<h4>
						<%= user_avatar(@conversation.with(current_user).id, "avatar avatar mr-1") %> <%= "#{@conversation.with(current_user).first_name} #{@conversation.with(current_user).last_name}" %>
					</h4>

					<hr class="mt-3 mb-0">
				</div>
			</div>

			<div class="row m-0 p-0 mt-0 bg-light-grey">
				<div class="col p-4">
					<div id="conversation-main">
						<div id="conversation-body">
							<!-- Show every message in the conversation -->
							<%= render @conversation.personal_messages %>
						</div>
					</div>				
				</div>
			</div>

			<div class="row">
				<div class="col">
					<hr class="mt-0 mb-3">
					<!-- Form to send a new message -->
					<%= form_for @personal_message do |f| %>
					<%= hidden_field_tag 'conversation_id', @conversation.id %>
					<%= f.text_area :body %>

					<%= f.submit "test", class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>

	</section>
