<section>
	<div class="container">
		<div class="col col-8 offset-md-2">
			<div class="row">
				<div class="col">
					<h4>
						<%= user_avatar(@conversation.with(current_user).id, "avatar avatar mr-1") %> <%= "#{@conversation.with(current_user).first_name} #{@conversation.with(current_user).last_name}" %>
					</h4>
				</div>
			</div>

			<div class="row m-0 p-0 mt-0 bg-light-grey">
				<div class="col p-4">
					<div id="conversation-main">
						<div id="conversation-body">
							<!-- Show every message in the conversation -->
							<%= render @conversation.personal_messages %>
						</div>
					</div>				
					<div class="row">
						<div class="col">
							<hr class="mt-3 mb-4">
							<!-- Form to send a new message -->
							<%= form_for(@personal_message, remote: true) do |f| %>
							<%= hidden_field_tag 'conversation_id', @conversation.id %>
								<div class="container">
									<div class="row no-gutter">
										<%= f.text_field :body, class: "col-9 border py-2", id: "text-field" %>
										<%= button_tag(type: "submit", class: "col-2 py-2 btn btn-primary btn ml-1", id: "send-btn") do %>
										<i class="fas fa-paper-plane"></i>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
