<section>
	<div class="container" id="conversation-display" data-conversation="<%= @conversation.id %>">
		<div class="col col-8 offset-md-2">
			<div class="row">
				<div class="col">
					<h4>
						<%= user_avatar(@conversation.with(current_user).id, "avatar avatar mr-1") %> <%= "#{@conversation.with(current_user).first_name} #{@conversation.with(current_user).last_name}" %>
					</h4>
				</div>
			</div>

			<div class="row m-0 p-0 mt-0 bg-light-grey">
				<div class="col p-4">
					<div id="conversation-main" data-conversation="<%= @conversation.id %>">
						<div id="conversation-body" class="scrollbar">
							<!-- Show every message in the conversation -->
							<%= render @conversation.personal_messages %>
						</div>
					</div>				
					<div class="row">
						<div class="col">
							<hr class="mt-3 mb-4">

							<div class="container">
								<div class="row no-gutter">
									<textarea placeholder="Écrire un nouveau message..." data-conversation="<%= @conversation.id %>" data-user="<%= current_user.id %>" class="col-9 border py-2" id="text-field"></textarea>
									<button class="col-2 py-2 btn btn-primary btn ml-1" data-conversation="<%= @conversation.id %>" data-user="<%= current_user.id %>" id="send-btn"><i class="fas fa-paper-plane"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
