<section>
  <div class="container mt-4 ">
     <div class="row">

        <div class="col col-md-8 offset-md-2">

          <h4>Éditer mes informations personnelles</h4>

          <%= user_avatar(@user.id, "avatar avatar-xlg") %>

         <p> <%= form_tag user_avatars_path(@user.id), multipart: true, class: "btn btn-sm" do %>
          <%= file_field_tag :avatar %>

          <%= submit_tag "Mettre en ligne", class: "btn btn-success btn-sm" %>
          <% end %></p>
          

          <!-- Form zone  -->
          <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

          <b><%= label_tag 'Mon prénom :' %></b>
          <%= text_field_tag 'first_name', @user.first_name, class: "form-control"  %>
          <br />

          <b><%= label_tag 'Mon nom :' %></b>
          <%= text_field_tag 'last_name', @user.last_name, class: "form-control" %>
          <br />

          <b><%= label_tag 'Ma description :' %></b>
          <%= text_area_tag 'description', @user.description, class: "form-control"  %>
          <br />

          <b><%= label_tag 'Mes compétences :' %></b>
          <%= text_field_tag 'skills', @user.skills, class: "form-control"  %>
          <br />

          <%= submit_tag "Éditer mon profil", class: "btn btn-primary" %>

          <% end %>
      </div>
  </div>
  <div class="row my-3">
    <div class="col col-md-8 offset-md-2">
        <hr>
      <i class="fas fa-trash-alt text-danger"></i>
      <%=link_to "Supprimer mon compte", user_path(@user), method: :delete, data: { confirm: 'Êtes-vous sur ? La suppression du compte est définitive et irréversible.' }, class: "text-danger ml-1" %>
  </div>
</div>
</section>