<div class="container mt-4 ">
 <div class="row">
      <div class="col col-6 mx-auto text-dark">

            <h2>Editer vos informations personnelles</h2>

            <% if @user.avatar.attached? == true %>
            <div class="col-md-4">
                  <%= image_tag @user.avatar, alt: 'avatar', class: 'card-img' %>
            </div>
            <% end %>

            <%= form_tag user_avatars_path(@user), multipart: true, class: "btn btn-sm" do %>
            <%= file_field_tag :avatar %>
            <%= submit_tag "Mettre en ligne", class: "btn btn-success btn-sm mt-2" %>
            <% end %>

            <!-- Form zone  -->
            <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

            <b><%= label_tag 'Prénom' %></b>
            <%= text_field_tag 'first_name', @user.first_name, class: "form-control"  %>
            <br />

            <b><%= label_tag 'Nom' %></b>
            <%= text_field_tag 'last_name', @user.last_name, class: "form-control" %>
            <br />

             <b><%= label_tag 'Description' %></b>
            <%= text_area_tag 'description', @user.description, class: "form-control"  %>
            <br />

             <b><%= label_tag 'Compétences' %></b>
            <%= text_field_tag 'skills', @user.skills, class: "form-control"  %>
            <br />

            <%= submit_tag "Editer", class: "btn btn-primary mb-3" %>

            <p><%= link_to 'Supprimer mon compte', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></p>

            <% end %>
      </div>
</div>