<section>
	<div class="container mt-3">
		<div class="row">
			<div class="col col-md-8 offset-md-2">
				<p class="h3 mb-3 mt-3 border-bottom border-gray">Mes annonces</p>
				<!-- If the current user doe'n have any ad yet, we change the text -->
				<% if current_user.ads[0] == nil %> 
				<div class="mt-4">
					<p>Vous n'avez pas encore d'annonces en ligne.</p>
				</div>
				<% else %> 
				<% current_user.ads.each do |ad| %>
				<%= link_to(edit_ad_path(ad.id), class: "text-default") do %>
				<div class="card flex-md-row no-gutters o-hidden mt-2 mb-2 text-default hover-shadow-3d">
					<div class="card-body d-flex flex-column col-auto p-3">
						<div class="mb-1">
							<p class="m-0 p-0">
								<span class=" text-small text-primary m-0 p-0"><%= ad.category.name%></span>
								<span class="text-muted text-small mx-2"><%= ad.created_at.localtime.strftime("%d/%m/%y %H:%M") %></span>
								<!-- Check if ad was accepted by admin -->
								<% if ad.validated == true %>
								<span class="mb-0 text-small text-muted">
									Validation : <i class="fas fa-check-circle text-primary"></i>
								</span>
								<% else %>
								<span class="mb-0 text-small text-muted">
									Validation : en attente
								</span>
								<% end %>
							</p>
						</div>
						<div class="flex-grow-1">
							<h5 class="m-0 p-0"><%= ad.title %></h5>
							<p class="text-muted text-small mt-0 mb-0 p-0">Par <%= ad.user.first_name %> <%= ad.user.last_name %></p>
						</div>
					</div>
					<div class="col-md-3 bg-primary-alt">
						<div class="container h-100">
							<div class="row h-100">
								<div class="col align-self-center text-center">
									<!-- If ad type is a lesson -->
									<% if ad.type.name == "Cours" %>
									<i class="fas fa-user-graduate text-primary big-icon"></i>
									<p class="text-default m-0 p-0">
										Cours
									</p>
									<!-- If ad type is a help -->
									<% elsif ad.type.name == "Coup de main" %>
									<i class="fas fa-hands-helping text-primary big-icon mt-0 p-0"></i>
									<p class="text-default m-0 p-0">
										Coup de main
									</p>
									<!-- If ad type is a project -->
									<% elsif ad.type.name == "Projet" %>
									<i class="fas fa-users text-primary big-icon"></i>
									<p class="text-default m-0 p-0">
										Projet
									</p>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% end %>
				<% end %>
				<% end %>		
			</div>		
		</div>
	</div>
</section>
