<section>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="h3 mb-2 border-bottom border-gray">Mes annonces</div>
				<!-- If the current user doe'n have any ad yet, we change the text -->
				<% if current_user.ads[0] == nil %> 
				<div class="mt-4">
					<div class="p">Vous n'avez pas encore d'annonces en ligne.</div>
				</div>
				<% else %> 
				<% current_user.ads.each do |ad| %>
				<div class="col col-12 mr-1 mb-2 mt-3 p-2 border rounded shadow">
					<!-- We display each ad with all informations -->
					<div class="profil-box mt-3">
						<div class="mb-2"><p><b>Mise en ligne le :</b> <%= ad.created_at %></div></p>
						<p><b>Titre : </b><%= ad.title %></p>
						<p><b>Description : </b><%= ad.description %></p>
						<p><b>Durée : </b><%= ad.duration %></p>
						<p><b>Fréquence : </b><%= ad.frequency %></p>
						<p><b>Type d'annonce : </b><%= ad.type.name %></p>
						<p><b>Catégorie : </b><%= ad.category.name %></p>
						<%= link_to "Editer l'annonce", edit_ad_path(ad), class: "btn btn-primary" %>
					</div>
				</div>
				<% end %>
				<% end %>		
			</div>		
		</div>
	</div>
</div>
</section>
