<div class="container">
  <div class="row">
    <div class="col-5 mx-auto mt-5">
      <h1 class="h3 font-weight-normal text-center mb-4">Changer votre mot de passe</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "Nouveau mot de passe" %><br />
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "#{@minimum_password_length} caractères minimum", class: "form-control mb-3" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmation nouveau mot de passe" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control mb-3" %>
      </div>

      <div class="actions">
        <%= f.submit "Changer mon mot de passe", class: "form-control btn btn-primary mb-2" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
