<section>
    <div class="container">
        <div class="row">
            <!-- Partial for the dashboard menu -->
            <%= render 'admins/dashboard' %>

            <!-- Main content -->
            <div class="col-sm-12 col-md-9">
                <div class="container">
                    <!-- Ads -->
                    <div class="row">
                        <div class="col">
                            <h4 class="p-2 bg-primary-alt"><i class="fas fa-sticky-note text-primary"></i> Éditer l'annonce</h4>
                            <!-- Errors partial -->
                            <%= render 'ads/error_messages' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-2">
                            <!-- Form zone -->
                            <%= form_tag url_for(action: 'update'), method: "patch", autocomplete: "on" do %>

                            <%= label_tag 'Son titre :', nil, class: "font-weight-bold" %>
                            <%= text_field_tag 'title', @ad.title, class: "form-control" %>

                            <%= label_tag 'Sa description :', nil, class: "font-weight-bold mt-3" %>
                            <%= text_field_tag 'description', @ad.description, class: "form-control"  %>

                            <%= label_tag 'Son type d\'activité :', nil, class: "font-weight-bold mt-3" %>
                            <%= select_tag 'type',options_for_select(["Coup de main", "Cours", "Projet"], @ad.type.name), class: "form-control" %>

                            <%= label_tag 'Sa catégorie :', nil, class: "font-weight-bold mt-3" %>
                            <%= select_tag 'category',options_for_select(["Cuisine", "Artisanat",  "Musique", "Art", "Jeux", "Technologie", "Mécanique", "Sport", "Jardinage", "Écriture", "Langues"], @ad.category.name), class: "form-control" %>

                            <%= label_tag 'Sa durée :', nil, class: "font-weight-bold mt-3" %>
                            <%= select_tag 'duration',options_for_select(["1h", "2h", "3h", "3h-5h", "Encore plus"], @ad.duration), class: "form-control" %>

                            <%= label_tag 'Sa fréquence :', nil, class: "font-weight-bold mt-3" %>
                            <%= select_tag 'frequency',options_for_select(["Une seule fois", "Quotidien", "Tous les deux jours", "Hebdomadaire", "Mensuel"], @ad.frequency), class: "form-control" %>
                            <p class="font-weight-bold mt-3"> Êtes vous ouvert à d'autres modalités d'échange ? </p>
                            
                            <p class="mt-1 m-0 mb-0 p-0">
                                <% if @ad.other_propositions == true %>
                                <%= radio_button_tag(:other_propositions, checked = true, "true") %>
                                <%= label_tag(:other_propositions_yes, "Oui", class: "mr-2") %>
                                <%= radio_button_tag(:other_propositions, "false") %>
                                <%= label_tag(:other_propositions_no, "Non") %>
                                <% elsif @ad.other_propositions == false %>
                                <%= radio_button_tag(:other_propositions, "true") %>
                                <%= label_tag(:other_propositions_yes, "Oui", class: "mr-2") %>
                                <%= radio_button_tag(:other_propositions, checked = false, "false") %>
                                <%= label_tag(:other_propositions_no, "Non") %>
                                <% end %>
                            </p>

                            <%= label_tag 'Vos disponibilités :', nil, class: "font-weight-bold mt-2" %>
                            <%= select_tag 'availability',options_for_select(["Le matin", "Le midi", "Le soir", "N'importe quand", "Seulement le week-end"], @ad.availability), class: "form-control mb-3" %>
                            <p>
                                <%= submit_tag "Modifier l'annonce", class: "btn btn-primary" %>
                                <%= link_to "Supprimer", admins_ad_path(@ad.id), method: :delete, data: { confirm: 'Êtes-vous sur de vouloir la supprimer ? Cette action est irréversible' }, class: "btn btn-danger ml-2" %>
                            </p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
