<section>
	<div class="container">
		<div class="row">
			<!-- Partial for the dashboard menu -->
			<%= render 'admins/dashboard' %>

			<!-- Main content -->
			<div class="col-sm-12 col-md-9">
				<div class="container">
					<!-- Title -->
					<div class="row">
						<div class="col">
							<h4 class="p-2 bg-primary-alt"><i class="fas fa-sticky-note text-primary"></i> Détail de l'annonce</h4>
						</div>
					</div>
					<div class="row">
						<div class="col mx-2">
							<h4 class=""><%= @ad.title%></h4>
							<ul class="list-group list-group-flush mb-3 mt-3">
								<li class="list-group-item"><b>Description : </b><%= @ad.description %></li>
								<li class="list-group-item"><b>Durée : </b><%= @ad.duration %></li>
								<li class="list-group-item"><b>Fréquence : </b><%= @ad.frequency %></li>
								<% if @ad.other_propositions == true %>
								<li class="list-group-item">Cet utilisateur accepte d'autres propositions d'échange</li>
								<% else %>
								<li class="list-group-item">Cet utilisateur n'accepte pas d'autres propositions d'échange</li>
								<% end %>
								<li class="list-group-item"><b>Disponibilités : </b><%= @ad.availability %></li>
								<% if @ad != nil %>
								<li class="list-group-item"><b>Utilisateur : </b><%= @ad.user.email %></li>
								<% end %>
								<% if @ad.validated == true %>
								<li class="list-group-item"><b>Validation :</b> <i class="fas fa-check-circle text-primary"></i></li>
								<% else %>
								<li class="list-group-item"><b>En ligne :</b> en attente</li>
								<% end %>
							</ul>
							<p>
								<%= link_to "Modifier", edit_admins_ad_path, class: "btn btn-primary" %>
								<%= link_to "Supprimer", admins_ad_path(@ad.id), method: :delete, data: { confirm: 'Êtes-vous sur de vouloir la supprimer ? Cette action est irréversible' }, class: "btn btn-danger ml-2" %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
