<section>
	<div class="container">
		<div class="row">
			<!-- Partial for the dashboard -->
			<%= render 'admins/dashboard' %>
			<div class="col col-8 mx-auto text-dark">

				<h2 class="mt-3"><%= @ad.title%></h2>

				<ul class="list-group list-group-flush mb-3 mt-3">
					<li class="list-group-item"><b>Description : </b><%= @ad.description %></li>
					<li class="list-group-item"><b>Durée : </b><%= @ad.duration %></li>
					<li class="list-group-item"><b>Fréquence : </b><%= @ad.frequency %></li>
					<% if @ad.other_propositions == true %>
					<li class="list-group-item">Cet utilisateur accepte d'autres propositions d'échange</li>
					<% else %>
					<li class="list-group-item">Cet utilisateur n'accepte pas d'autres propositions d'échange</li>
					<% end %>
					<li class="list-group-item"><b>Disponibilités : </b><%= @ad.availability %></li>
					<% if @ad != nil %>
					<li class="list-group-item"><b>Utilisateur : </b><%= @ad.user.email %></li>
					<% end %>

					<% if @ad.validated == true %>
					<li class="list-group-item text-muted"><b>En ligne :</b> Oui</li>
					<% else %>
					<li class="list-group-item text-muted"><b>En ligne :</b> Non</li>
					<% end %>
				</ul>
				<p class="card-text"><%= link_to "Editer cette annonce", edit_admins_ad_path, class: "btn btn-sm btn-primary" %> </p>
				<p><%= link_to 'Supprimer cette annonce', admins_ad_path(@ad.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></p> 
			</div>
		</div>
	</div>
</section>
