<!-- Begining of the loop -->
<% @users.order(created_at: :desc).each do |u| %>
	<!-- CARD -->
	<%= link_to(admins_user_path(u.id), class: "text-default p-0 m-0") do %>
		<div class="card row mx-2 o-hidden p-0 mt-0 mb-2">
			<div class="card-body col p-3">
				<div class="flex-grow-1">
					<div class="d-flex align-items-center">
						<%= user_avatar(u.id, "avatar") %>
						<div class="ml-2">
							<h5 class="m-0 p-0">
								<!-- Name -->
								<%= u.first_name %> <%= u.last_name %>
								<!-- Display admin if admin -->
								<% if u.is_admin? == true %>
									<span class="text-small text-primary"> Admin</span> 
								<% end %>
							</h5>
							<!-- Email -->
							<div class="text-muted text-small">
								<%= u.email %>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>