<section>
	<div class="container">
		<div class="row">
			<!-- Partial for the dashboard -->
			<%= render 'admins/dashboard' %>
			<!-- Profile -->
			<div class="col-sm-12 col-md-9">
				<div class="container">
					<!-- Title -->
					<div class="row">
						<div class="col">
							<h4 class="p-2 bg-primary-alt"><i class="fas fa-user-friends text-primary"></i> Profil utilisateur</h4>
						</div>
					</div>
					<!-- Profile -->
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div class="card-text">
											<%= user_avatar(@user.id, "avatar avatar-lg") %>
										</div>
										<div class="card-text ml-2">
											<h5 class="m-0 p-0">
												<!-- Name -->
												<%= @user.first_name %> <%= @user.last_name %>
												<!-- Display admin if admin -->
												<% if @user.is_admin? == true %>
												<span class="text-small text-primary"> Admin</span> 
												<% end %>
											</h5>
											<%= @user.email %></div>
										</div>
										<div class="card-text mt-2"><b>Description:</b> <%= @user.description %></div>
										<div class="card-text mt-2"><b>Compétence(s):</b> <%= @user.skills %></div>
										<div class="card-text"><%= link_to "Editer ce profil", edit_admins_user_path(params[:id]), class: "btn btn-sm btn-primary" %> </div>
										<div><%= link_to 'Supprimer ce compte', admins_user_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></div> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>









		<div class="container mb-5">
			<div class="h3 mb-2 border-bottom border-gray mt-3">Ses annonces</div>
			<div class="row">
				<!-- If the current user does not have ad yet, we change thh text -->
				<% if current_user.ads[0] == nil %> 
				<div class="col col-12 mt-4">
					<div class="p">Il n'a pas encore d'annonces en ligne.</div>
				</div>
				<% else %> 
				<% current_user.ads.each do |ad| %>
				<div class="col col-12 mr-1 mb-2 mt-3 p-2 border rounded shadow">
					<!-- We display each ad with all informations -->
					<div class="profil-box mt-3">
						<div class="mb-2"><p><b>Mise en ligne le :</b> <%= ad.created_at %></div></p>
						<p><b>Titre : </b><%= ad.title %></p>
						<p><b>Description : </b><%= ad.description %></p>
						<p><b>Durée : </b><%= ad.duration %></p>
						<p><b>Fréquence : </b><%= ad.frequency %></p>
						<p><b>Type d'annonce : </b><%= ad.type.name %></p>
						<p><b>Catégorie : </b><%= ad.category.name %></p>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>

		</div>
	</div>
