<% if personal_message.user == current_user %>
<div class="d-flex flex-row-reverse align-items-center mr-3">
	<%= user_avatar(personal_message.user.id, "avatar avatar-sm") %> <span class="bg-white shadow-sm text-dark py-2 px-3 mr-1 chat-msg" style="border-radius:2em;"><%= personal_message.body %></span>
</div>
<div class="d-flex flex-row-reverse text-small text-muted mt-1 mb-2 mr-3">
	<%= personal_message.created_at %>
</div>
<% else %>
<div class="d-flex flex-row align-items-center">
	<%= user_avatar(personal_message.user.id, "avatar avatar-sm") %> <span class="bg-primary shadow-sm text-light py-2 px-3 ml-1 chat-msg" style="border-radius:2em;"><%= personal_message.body %></span>
</div>
<div class="d-flex flex-row text-small text-muted mt-1 mb-2">
	<%= personal_message.created_at %>
</div>
<% end %>
