<!-- NAVBAR -->
<!-- Left -->
<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light position-fixed scrolled" data-overlay data-sticky="top">
    <div class="container">
      <div class="col flex-fill px-0 d-flex justify-content-between">
        <!-- Logo -->
        <%= link_to root_path, class: "navbar-brand fade-page" do %>
        <%= image_tag("logo.svg", alt:"Logo", size:"34") %>
        <span class="ml-1">Share Square</span>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="icon navbar-toggler-open" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
          </svg>

          <svg class="icon navbar-toggler-close" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
            <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
          </svg>
        </button>
      </div>

      <!-- Center -->
      <div class="collapse navbar-collapse col px-0 px-lg-2 flex-fill">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Voir les annonces", ads_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "A propos", static_pages_about_us_path, class: "nav-link" %>
            </li>
            <!-- Display the admin dashboard button if the current user is admin --> 
            <% if user_signed_in? %>
            <% if current_user.is_admin == true %>
            <li class="nav-item">
              <%= link_to "Dashboard", admins_path, class: "nav-link" %>
            </li> 
            <% end %>   
            <% end %>   
          </ul>
        </div>
      </div>

      <!-- Right -->
      <div class="collapse navbar-collapse justify-content-end col flex-fill px-0">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Se déconnecter", destroy_user_session_path , method: 'delete', class: "nav-link text-muted" %>
            </li>
            <li class="nav-item">
              <%= link_to "Mon profil", user_path(current_user), class: "btn btn-primary ml-lg-2" %>
            </li> 
            <li class="nav-item">
              <%= link_to conversations_path, class: "nav-link" do %>
                <svg class="icon icon-md" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Messagerie</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                      <path d="M5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"></path>
                    </g>
                </svg>
                <%=current_user.unread_messages%>
              <%end%>
            </li> 
            <% else %>
            <li class="nav-item">
              <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link btn btn-primary text-light" %>
            </li> 
            <% end %>    
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>